name: Build and Deploy
on:
  push:
    branches:
      - "main"
      - "Some-branch"
jobs:
  jobUno:
    runs-on: ubuntu-latest
    steps:
      - name: Pulling git repo
        uses: actions/checkout@v3
      - name: Intall Python version 3.10.4
        uses: actions/setup-python@v3
        with:
          python-version: "3.10.4"
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      - name: Install all dependencies
        run: pip install -r requirements.txt
      - name: Testing with Pytest
        run: |
          pip install Pytest
          pytest -v